.diningOut-item {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.diningOut-item-cover {
    position: relative;
}

.dining-item-image {
    width: 90%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.dining-item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.dining-item-title {
    font-size: 1.2em;
    font-weight: bold;
}

.dining-item-places {
    font-size: 1em;
}