.delivery-item-cover{
    height: 210px;
    width: 260px;
    background-color: var(--primary-bg);
    box-shadow: var(--collection-shadow);
    border-radius: 8px;
}

.delivery-item-image{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.delivery-item-title{
    font-size: 20px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 6px 0px 0px;
    padding: 8px 16px 0px 100px;
    /* justify-content: center;
    align-items: center; */
}
