.restaurantss {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.restaurantss-title {
    font-size: 35px;
    margin-bottom: 20px;
    /* text-align: center; */
}

.restaurantss-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.restaurantss-cover {
    position: relative;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    /* overflow: hidden; */
    padding: 10px;
    /* text-align: center; */
}

.restaurantss-image {
    width: 100%;
    height: 50%;
    border-radius: 8px;
}

.restaurantss-offer {
    position: absolute;
    top: 120px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: blue; */
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.restaurantss-title-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.restaurantss-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    word-wrap: normal;
}

.restaurantss-rating {
    font-size: 14px;
    /* background-color: #ffcc00; */
    background-color: green;
    /* color: #000; */
    color: white;
    padding: 2px 6px;
    border-radius: 5px;
}

.restaurantss-info {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 0;
}

/* .restaurantss-items,
.restaurantss-costs {
    margin: 5px 0;
} */

.restaurants-items {
    margin-right: 10px;
}

.restaurants-costs {
    white-space: nowrap;
}

.restaurantss-location {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.restaurantss-address,
.restaurantss-km {
    font-size: 14px;
}