/* .dining-out-collections {
    margin-top: 20px;
}

.max-width {
    max-width: 1200px;
    margin: auto;
}

.diningOut-collection-title {
    text-align: center;
    margin-bottom: 20px;
}

.slick-slide {
    padding: 10px;
}

.dining-out-item {
    margin: 10px;
}

.diningOut-item-cover img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.dining-item-title {
    text-align: center;
    padding: 10px;
} */