.night-restaurant {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

.night-restaurant-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.night-restaurant-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.night-restaurant-cover {
    position: relative;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
    transition: transform 0.2s;
}

.night-restaurant-cover:hover {
    transform: scale(1.05);
}

.night-restaurant-image {
    width: 100%;
    height: 50%;
    border-radius: 8px;
}

.night-restaurant-offer {
    position: absolute;
    top: 150px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.night-restaurant-title-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.night-restaurant-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    word-wrap: normal;
}

.night-restaurant-rating {
    font-size: 14px;
    background-color: green;
    color: white;
    padding: 2px 6px;
    border-radius: 5px;
}

.night-restaurant-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 0;
}

.night-restaurant-items {
    margin-right: 10px;
}

.night-restaurant-costs {
    white-space: nowrap;
}

.night-restaurant-location {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.night-restaurant-address,
.night-restaurant-km {
    font-size: 14px;
}